# Folders
.ipynb_checkpoints/
Data/Original/
Data/.ipynb_checkpoints/
Notebooks/.ipynb_checkpoints/
Scripts/.ipynb_checkpoints/
Images/
Notebooks/stac/
Notebooks/ipopt

# Python files
__pycache__/
Scripts/__pycache__/

# R files
Scripts/.Rhistory
.Rhistory
.RData

# log files
*.log

